:root {
    --bs-primary: #d4af37;
    /* Casino Gold */
    --bs-secondary: #006400;
    /* Dark Green */
    --bs-dark: #0a0a0a;
    /* Almost Black */
    --bs-light: #1c1c1c;
    /* Dark Grey for Cards */
    --bs-white: #e0e0e0;
    /* Off-white for text */
    --bs-body-bg: #121212;
    --bs-body-color: #d1d1d1;
}

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bs-primary);
}

/* Force Dark Mode on Bootstrap Utilities */
.bg-white {
    background-color: #1e1e1e !important;
    /* Dark Card Background */
    color: var(--bs-body-color) !important;
}

.bg-light {
    background-color: #252525 !important;
    /* Slightly lighter dark */
    color: var(--bs-body-color) !important;
}

.text-white {
    color: #e0e0e0 !important;
}

.text-dark {
    color: #e0e0e0 !important;
    /* Invert dark text to light */
}

.text-body {
    color: var(--bs-body-color) !important;
}

/********** Template CSS follows **********/

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.back-to-top i {
    color: #000;
}

.fw-medium {
    font-weight: 600;
}

.mt-6 {
    margin-top: 5rem;
}

.mb-6 {
    margin-bottom: 5rem;
}

.pt-6 {
    padding-top: 5rem;
}

.pb-6 {
    padding-bottom: 5rem;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-primary {
    color: #000;
    /* Text on Gold button */
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: #bfa13f;
    border-color: #bfa13f;
    color: #000;
}

.btn-secondary {
    color: #fff;
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.btn-secondary:hover {
    background-color: #004d00;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-xl-square {
    width: 60px;
    height: 60px;
}

.btn-xxl-square {
    width: 75px;
    height: 75px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square,
.btn-xl-square,
.btn-xxl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: var(--bs-primary);
    /* Icons in squares usually gold */
    background: #333;
    /* Dark background for buttons */
}

/*** Navbar ***/
.sticky-top {
    top: -100px;
    transition: .5s;
}

/* Force Navbar Dark Theme */
.navbar {
    background-color: #000 !important;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: #e0e0e0;
    /* Light text */
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

/* Dropdown Menu Dark */
.dropdown-menu {
    background-color: #1a1a1a !important;
    border: 1px solid #333;
}

.dropdown-item {
    color: #e0e0e0;
}

.dropdown-item:hover {
    background-color: var(--bs-primary);
    color: #000;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 15px;
        border-top: 1px solid #333;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    background: rgba(0, 0, 0, .6);
    /* Slightly lighter overlay to show images better */
    padding: 2rem;
    padding-left: 8rem;
    z-index: 1;
}

.carousel .carousel-indicators [data-bs-target] {
    border: 2px solid var(--bs-primary);
}

@media (max-width: 992px) {
    .carousel .carousel-item {
        position: relative;
        min-height: 500px;
    }

    .carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel .carousel-caption {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .carousel .carousel-caption h1 {
        font-size: 3rem !important;
    }
}

@media (max-width: 768px) {
    .carousel .carousel-item {
        min-height: 400px;
    }

    .carousel .carousel-caption {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .carousel .carousel-caption h1 {
        font-size: 2rem !important;
    }
}

@media (min-width: 993px) {
    .carousel .carousel-item {
        position: relative;
        min-height: 650px;
        max-height: 650px;
    }

    .carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel .carousel-item .display-1 {
        font-size: 4.5rem;
    }
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}


/*** About ***/
.about-img {
    position: relative;
    padding-left: 45px;
}

.about-img::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 300px;
    top: 0;
    left: 0;
    border: 5px solid var(--bs-primary);
    animation: animateUpDown 3s ease-in-out infinite;
    z-index: -1;
}

@keyframes animateUpDown {
    0% {
        top: -25px;
    }

    50% {
        top: -45px;
    }

    100% {
        top: -25px;
    }
}


/*** Features ***/
.feature {
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, 1) 50%), url(../img/carousel-1.jpg) left center no-repeat;
    background-size: cover;
}

.feature-row {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    /* Darker shadow */
}

.feature-item {
    border-color: rgba(255, 255, 255, .1) !important;
}

.feature-icon {
    position: relative;
    transition: .5s;
    color: var(--bs-primary);
}

.feature-item:hover .feature-icon {
    margin-left: 3rem;
}

.feature-item a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: var(--bs-secondary);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.feature-item a:hover {
    color: var(--bs-primary) !important;
}

.feature-item a:hover::after {
    background: var(--bs-primary);
}


/*** Service ***/
.service .service-item {
    position: relative;
    margin-top: 45px;
}

.service .service-inner {
    position: relative;
    height: 100%;
    margin-top: 45px;
    background: #1e1e1e;
    /* Dark Card */
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.service .service-inner::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    transition: 1s;
    background: var(--bs-primary);
}

.service .service-inner:hover::before {
    height: 100%;
    top: 0;
}

.service .service-item img {
    margin-top: -45px;
    padding-left: 45px;
}

.service .service-item * {
    position: relative;
    transition: .5s;
    z-index: 1;
}

.service .service-item:hover h5,
.service .service-item:hover p {
    color: #000;
    /* Dark Text on Gold Hover */
}

.service .service-item:hover a {
    padding-left: 45px !important;
    color: #000 !important;
}


/*** Appoinment ***/
.appoinment {
    background: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url(../img/carousel-2.jpg) left center no-repeat;
    background-size: cover;
}

/* Ensure Form Inputs are visible in dark mode */
.form-control,
.form-select {
    background-color: #333 !important;
    border: 1px solid #444 !important;
    color: #fff !important;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--bs-primary) !important;
    box-shadow: 0 0 0 0.25rem rgba(212, 175, 55, 0.25);
}

.form-floating label {
    color: #aaa;
}


/*** Team ***/
.team .team-item {
    background: #1e1e1e;
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.team .team-item .team-social {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    transition: .5s;
    background: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .team-item:hover .team-social {
    width: 100%;
    left: 0;
}

.team .team-item .team-social .btn {
    opacity: 0;
    transition: .5s;
}

.team .team-item:hover .team-social .btn {
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-img {
    position: relative;
    min-height: 400px;
    overflow: hidden;
}

.testimonial-img div::after {
    position: absolute;
    content: "";
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    box-shadow: 0 0 10px 10px #1e1e1e inset;
    /* Match dark card bg */
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    color: var(--bs-primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--bs-white);
}


/*** Contact ***/
@media (min-width: 992px) {
    .contact-info::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 100%;
        top: 0;
        left: 50%;
        border-left: 1px dashed rgba(255, 255, 255, .2);
    }
}

@media (max-width: 991.98px) {
    .contact-info::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0px;
        top: 50%;
        left: 0;
        border-top: 1px dashed rgba(255, 255, 255, .2);
    }
}


/*** Appoinment ***/
.newsletter {
    background: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url(../img/carousel-3.jpg) left center no-repeat;
    background-size: cover;
}


/*** Footer ***/
.footer {
    background-color: #050505 !important;
    /* Extremely dark footer */
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #aaa;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--bs-primary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--bs-primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    background: #000000;
    border-top: 1px solid #222;
}

.copyright a {
    color: var(--bs-primary);
}

.copyright a:hover {
    color: #fff;
}